// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@font-face {
	font-family: Ubuntu;
	src: url("@/assets/fonts/Ubuntu-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: Ubuntu;
	src: url("@/assets/fonts/Ubuntu-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: Ubuntu;
	src: url("@/assets/fonts/Ubuntu-Bold.ttf");
	font-weight: 700;
}
