@import "reset";
@import "variables";
@import "fonts";
@import "utils";

body {
	font-family: "Ubuntu", system-ui, sans-serif;
	font-weight: 400;
	background-color: var(--bg);
	color: var(--secondary);
	line-height: normal;
}
