@import "reset";
@import "variables";
@import "fonts";
@import "utils";

body {
	font-family: "Ubuntu", system-ui, sans-serif;
	font-weight: 400;
	background-color: var(--bg);
	color: var(--secondary);
	line-height: normal;
}

@media (min-width: $small-breakpoint) {
	#app {
		height: 100vh;
		display: flex;
		align-content: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}
