@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.scissorsGradient {
		@apply from-[#EC9E0E] to-[#ECA922];
	}
	.paperGradient {
		@apply from-[#4865F4] to-[#5671F5];
	}
	.rockGradient {
		@apply from-[#DC2E4E] to-[#DD405D];
	}
	.lizardGradient {
		@apply from-[#834FE3] to-[#8C5DE5];
	}
	.cyanGradient {
		@apply from-[#40B9CE] to-[#52BED1];
	}
	.whiteGradient {
		background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
		box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
	}
	.bgGradient {
		background: radial-gradient(
			134.34% 134.34% at 50% 0%,
			#1f3757 0%,
			#131537 100%
		);
	}
}
