@import "reset";
@import "variables";
@import "fonts";

html {
	font-size: 16px;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--bg);
	color: var(--text);
	line-height: normal;
}

* {
	transition: all 0.1s;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
