@import "reset";
@import "variables";
@import "fonts";

html {
	font-size: 16px;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--bg);
	color: var(--text);
	line-height: normal;
}

* {
	transition: all 0.1s;
}
