.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@mixin focus-style {
	&:focus {
		outline: rgb(104, 190, 205) dotted 3px;
	}
}
